@font-face {
    font-family: "SourceSansPro";
    src: url('/s/sfsites/c/resource/Source_Sans_Pro_Font/SourceSansPro-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url('/s/sfsites/c/resource/Source_Sans_Pro_Font/SourceSansPro-Bold.ttf') format('TrueType');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url('/s/sfsites/c/resource/Source_Sans_Pro_Font/SourceSansPro-Black.ttf') format('TrueType');
    font-weight: 800;
    font-style: normal;
}

:host {
    --font-weight-percentage: 0.625;
}

@media only screen and (max-width: 75em) {
    :host {
        --font-weight-percentage: 0.59;
    }
}

@media only screen and (max-width: 56.25em) {
    :host {
        --font-weight-percentage: 0.56;
    }
}

@media only screen and (min-width: 112.5em) {
    :host {
        --font-weight-percentage: 0.65;
    }
}