@import 'c/cssLibrary';

.about-me-header-con {
    display: block;
    text-align: center;
    max-width: calc(120rem * var(--font-weight-percentage));
    width: 92%;
    margin: auto;
    margin-bottom: calc(9rem * var(--font-weight-percentage));
}

.about-me-header-title {
    font-family: 'SourceSansPro';
    font-weight: bold;
    font-size: calc(4rem * var(--font-weight-percentage));
    line-height: 1.02;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about-me-header-info {
    font-family: "SourceSansPro";
    font-weight: normal;
    font-size: calc(2rem * var(--font-weight-percentage));
    width: 100%;
    line-height: 1.6;
    margin: auto;
    max-width: calc(80rem * var(--font-weight-percentage));
}

.line-break {
    margin: calc(1.75rem * var(--font-weight-percentage)) auto;
    border-radius: 4px;
    width: 3rem;
    height: 6px;
    width: calc(3rem * var(--font-weight-percentage));
    background: #0062b9;
}