@font-face {
    font-family: "SourceSansPro";
    src: url('/s/sfsites/c/resource/Source_Sans_Pro_Font/SourceSansPro-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url('/s/sfsites/c/resource/Source_Sans_Pro_Font/SourceSansPro-Bold.ttf') format('TrueType');
    font-weight: bold;
    font-style: normal;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
    padding: .625rem 3.125rem;
    align-items: center;
}

@media only screen and (max-width: 56.25em) {
    .header__content {
        padding: 0 2rem;
    }
}

.header-logo-container {
    padding: .625rem;
}

.large-picture {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: .9375rem;
}

.header-logo-name {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "SourceSansPro";
    text-decoration: none;
}

.link-padding {
    padding: 1.375rem 1.875rem;
}

.header-link {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "SourceSansPro";
    text-decoration: none;
    padding: 1.375rem 1.875rem;
}

.header-link:hover {
    color: #0062b9;
}

.header-links {
    padding: 1.375rem 0;
}

@media only screen and (max-width: 37.5em) {
    .header-links {
        display: none;
    }
}

/* Tablet */
@media only screen and (max-width: 64em) {
    .header-link {
        font-size: .944rem;
        padding: 1.875rem 1.125rem;
    }
}

/* Mobile */
@media only screen and (max-width: 47.9375em) {
    .header-link {
        font-size: .896rem;
    }
}

@media only screen and (min-width: 112.5em) {
    .header-link {
        font-size: 1.04rem;
    }
}